@font-face {
  font-family: 'social';
  src:url('../fonts/social.eot?-3o6kus');
  src:url('../fonts/social.eot?#iefix-3o6kus') format('embedded-opentype'),
  url('../fonts/social.woff?-3o6kus') format('woff'),
  url('../fonts/social.ttf?-3o6kus') format('truetype'),
  url('../fonts/social.svg?-3o6kus#social') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'social';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-manager:before {
  content: "\e600";
}
.icon-close:before {
  content: "\e602";
}
.icon-checkmark:before {
  content: "\e603";
}
.icon-plus:before {
  content: "\e604";
}
.icon-about:before {
  content: "\e605";
}
